
img{
    float: right;
    border-radius: 50%;
    width: 20%;
    padding: 5%;
}
p{
    text-align: justify;
    line-height: 25px;
}

.venten{
    display: grid;
    grid-template-columns: auto auto;
    font-weight: bold;
    font-style: italic;
}
