#mainmenu{
    background-color: black;
    margin:0px;
    padding:0px;
}
#mainmenu a{
    color: white ;
    text-decoration : none;
}
#mainmenu li{
    display: inline-block;
    padding: 20px 40px 20px;
    color: white;
    font-size: 22px;
    border: 1px solid blue;
}
#mainmenu li:hover{background-color: purple;}
#mainmenu li:hover .submenu{
    display: block;
}
.submenu{
    position:absolute;
    background-color: black;
    padding: 0px;
    margin-top: 18px;
    display: none;
    /* display: block; */
}
.submenu li{
    display: block !important;
    padding:13px !important;
    margin: 0px;
}

